.my-profile {
  .header {
    padding: 1.5rem 2rem;
    border-bottom: 2px solid var(--secondary-background);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .info-container {
    padding: 0 2rem;
    .text {
      padding: 1rem 0;
      border-bottom: 1px solid var(--secondary-background);
      display: flex;
      flex-direction: row;
      align-items: center;
      .label {
        width: 25%;
      }
      input {
        width: 75%;
      }
      .value {
        width: 75%;
        color: var(--placeholder-color);
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
