.navbar-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba($color: #ffffff, $alpha: 0.6);
  // opacity: 0.6;
  .logo {
    height: 54px;
    margin-left: 5%;
  }
  .content-container {
    display: flex;
    align-items: center;
    margin-right: 3%;
    nav {
      display: flex;
      align-items: center;
      gap: 2px;
      .content {
        color: var(--primary-color);
        font-size: var(--button3-fs);
        font-weight: 400;
        text-decoration: none;
        background: none;
        border: 0px;
        padding: 12px 20px;
        margin: 0 4px;
        &:hover {
          border-radius: 50px;
          cursor: pointer;
          color: var(--secondary-color);
          font-weight: 600;
        }
      }
      .profile {
        position: relative;
        margin-left: 16px;
        height: 36px;
        width: 36px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 50%;
          &:hover {
            cursor: pointer;
          }
        }
        .dropdown {
          position: absolute;
          right: -15px;
          margin-top: 8px;
          width: max-content;
          min-width: 200px;
          border-radius: 8px;
          background-color: var(--contrast-color);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          ::after {
            position: absolute;
            border-width: 0 10px 8px;
            top: -8px;
            border-color: var(--contrast-color) transparent;
            border-style: solid;
            right: 24px;
          }
          .menu {
            width: 100%;
            margin: 0;
            padding: 12px;
            box-sizing: border-box;
            .menu-item {
              height: 1.5rem;
              display: flex;
              align-items: center;
              padding: 0.5rem;
              &:hover {
                cursor: pointer;
                color: var(--secondary-color);
                font-weight: 600;
              }
              .link {
                text-decoration: none;
                color: var(--primary-color);
                &:hover {
                  color: var(--secondary-color);
                  font-weight: 600;
                }
              }
            }
            .in-progress {
              display: flex;
              flex-direction: column;
              color: rgb(242, 181, 15);
              align-items: flex-start;
              justify-content: center;
              .top {
                color: var(--primary-color);
              }
              .bottom {
                font-size: 12px;
              }
              &:hover {
                color: rgb(242, 181, 15);
                cursor: default;
                font-weight: 400;
              }
            }
          }
        }
      }
      .signup {
        border: 1px solid black !important;
        border-radius: 4px;
        &:hover {
          border-radius: 4px !important;
          color: var(--contrast-color);
          border: 1px solid var(--secondary-color) !important;
          background-color: var(--secondary-color);
        }
      }
    }
    .bell-noti {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 52px;
      transition-duration: 0.3s;
      .fa-bell {
        font-size: var(--header3-fs);
        // margin-left: 52px;
        cursor: pointer;
        padding: 8px;
      }
      &:hover {
        border-radius: 50%;
        color: var(--secondary-color);
        background-color: rgb(74, 96, 161, 0.1);
      }
    }
    .open {
      border-radius: 50%;
      color: var(--secondary-color);
      background-color: rgb(74, 96, 161, 0.1);
    }
  }
}
