.navbar-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba($color: #ffffff, $alpha: 0.6);
  // opacity: 0.6;
  .logo {
    height: 54px;
    margin-left: 5%;
  }
  .content-container {
    display: flex;
    align-items: center;
    margin-right: 3%;
    nav {
      display: flex;
      align-items: center;
      gap: 2px;
      .content {
        color: var(--primary-color);
        font-size: var(--button3-fs);
        font-weight: 400;
        text-decoration: none;
        background: none;
        border: 0px;
        padding: 12px 20px;
        margin: 0 4px;
        &:hover {
          border-radius: 50px;
          cursor: pointer;
          color: var(--secondary-color);
          font-weight: 600;
        }
      }
      .profile {
        position: relative;
        margin-left: 16px;
        height: 36px;
        img {
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          &:hover {
            cursor: pointer;
          }
        }
        .dropdown {
          position: absolute;
          right: -15px;
          margin-top: 8px;
          width: 200px;
          border-radius: 8px;
          background-color: var(--contrast-color);
          ::after{
              content: " ";
              position: absolute;
              border-width: 0 10px 8px;
              top: -8px;
              border-color: var(--contrast-color) transparent;
              border-style: solid;
              right: 24px;
          }
          .menu {
            width: 100%;
            margin: 0;
            padding: 12px;
            box-sizing: border-box;
            .menu-item {
              height: 1.5rem;
              display: flex;
              align-items: center;
              padding: 0.5rem;
              &:hover {
                cursor: pointer;
                color: var(--secondary-color);
                font-weight: 600;
              }
              .link {
                text-decoration: none;
                color: var(--primary-color);
                &:hover {
                  color: var(--secondary-color);
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
      .signup {
        border: 1px solid black !important;
        border-radius: 4px;
        &:hover {
          border-radius: 4px !important;
          color: var(--contrast-color);
          border: 1px solid var(--secondary-color) !important;
          background-color: var(--secondary-color);
        }
      }
    }
    .fa-bell {
      margin-left: 64px;
    }
  }
}
