.search-sort-bar {
  display: flex;
  align-items: center;
  .search {
    flex: 1;
    padding: 16px 0 16px 16px;
    box-sizing: border-box;
    display: flex;
    form {
      background-color: var(--secondary-background);
      width: 100%;
      padding: 0.5rem;
      display: grid;
      align-items: center;
      grid-template-columns: auto minmax(0, 1fr);
      button {
        height: 100%;
        border: none;
        &:hover {
          cursor: pointer;
        }
        i {
          margin: 0 1rem;
          font-size: 1.25rem;
        }
      }
      input {
        background-color: transparent;
        border: none;
        font-size: 1rem;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .sort {
    padding: 16px;
    .sort-by-select {
      padding: 0px;
      border: none;
    }
  }
}
