.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  h2 {
    margin: 48px 0 18px 0;
  }
  > p {
    margin: 0;
    padding: 0 28vw;
    text-align: center;
    color: var(--placeholder-color);
  }
  .result-wrapper {
    margin: 20px 0;
    display: grid;
    // width: 60%;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 300px);
    // grid-template-rows: repeat(2, 1fr);
    @media (min-width: 1450px) {
      grid-template-columns: repeat(4, 300px);
    }
    @media (max-width: 1100px) {
      grid-template-columns: repeat(2, 300px);
    }
    gap: 16px;
  }
  button {
    background-color: var(--secondary-color);
    color: var(--contrast-color);
    padding: 12px 24px;
    font-size: var(--button3-fs);
    border: none;
    border-radius: 4px;
    margin: 32px 0;
    transition: .2s ease-in-out 0s;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }
}
