.lessor-registeration {
  margin-top: var(--navbar-height);
  background-color: var(--secondary-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .head-title {
    margin-bottom: 20px;
    font-size: var(--header1-fs);
    display: flex;
    justify-content: center;
  }
  .register-form {
    background-color: var(--contrast-color);
    margin: 24px 0;
    padding: 32px;
    box-shadow: 0 2px 4px -1px rgba(5, 25, 45, 0.3);
    .row-input {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
      padding: 4px 0;
      label {
        font-size: var(--paragraph1-fs);
        margin-right: 12px;
      }
    }
    .validate-false {
      margin-top: 8px;
      color: red;
      font-weight: 500;
    }
    .submit-btn {
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;
      button {
        font-size: var(--button1-fs);
        width: 100%;
        padding: 8px;
        border: 1px solid var(--secondary-color);
        border-radius: 4px;
        color: var(--contrast-color);
        background-color: var(--secondary-color);
        transition: 0.2s;
        cursor: pointer;
        &:hover {
          background-color: var(--contrast-color);
          color: var(--secondary-color);
        }
      }
    }
  }
}
