.mybooking-container {
  margin-top: var(--navbar-height);
  padding: 50px 0;
  max-width: 100%;
  display: flex;
  justify-content: center;
  .result-wrapper {
    margin-top: 20px;
    display: grid;

    grid-template-columns: repeat(3, 300px);

    @media (min-width: 1450px) {
      grid-template-columns: repeat(4, 300px);
    }
    @media (max-width: 1100px) {
      grid-template-columns: repeat(2, 300px);
    }
    gap: 16px;
  }
  > div {
    > p {
      text-align: center;
      height: 250px;
    }
  }
}
