.profile-detail {
  .lessor-name {
    display: flex;
    align-items: center;
    gap: 12px;
    .profile-image {
      height: 36px;
    }
  }
  .more-info {
    display: flex;
    align-items: center;
    gap: 20px;
    > div {
      display: flex;
      gap: 4px;
    }
    button {
      color: var(--contrast-color);
      border-radius: 4px;
      padding: 8px;
      border: 1px solid transparent;
      font-size: calc(var(--button3-fs) - 2px);
      display: flex;
      align-items: center;
      max-height: 30px;
    }
    .view-review-btn {
      background-color: var(--secondary-color);
      &:hover {
        border: 1px solid var(--secondary-color);
        color: var(--secondary-color);
        background-color: var(--contrast-color);
        cursor: pointer;
      }
    }
    .chat-btn {
      background-color: #4ccd59;
      &:hover {
        border: 1px solid var(--green-background);
        color: var(--green-background);
        background-color: var(--contrast-color);
        cursor: pointer;
      }
      i {
        font-size: var(--header3-fs);
        margin-right: 12px;
      }
    }
  }
  .car-info {
    padding-right: 100px;
    h3 {
      font-size: 24px;
      margin-bottom: 12px;
      color: var(--secondary-color);
    }
    p {
      color: var(--p-color);
      font-size: var(--paragraph2-fs);
      line-height: 1.5;
    }
  }
}
