.match-approval-container {
  display: flex;
  flex-direction: column;
  .match-approval-list {
    // height: 50vh;
    display: flex;
    flex-direction: column;
    .no-result {
      text-align: center;
      padding: 6rem 0;
    }
    .match-approval {
      // min-height: 13rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border-bottom: solid 2px var(--secondary-background);
      .header {
        display: flex;
        gap: 1rem;
        align-items: center;
        h3 {
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .status {
          margin-left: auto;
          &.rejected {
            color: var(--caution-color);
          }
          &.approved {
            color: var(--green-background);
          }
        }
      }
      p {
        color: var(--p-color);
        overflow-wrap: break-word;
      }
      .images {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        gap: 1rem;
        .card {
          display: flex;
          img {
            width: 100%;
            max-height: 300px;
          }
          h3 {
            overflow-wrap: break-word;
          }
        }
      }
      .action {
        margin-left: auto;
        align-items: center;
        &.approve {
          color: var(--green-background);
        }
        &.reject {
          color: var(--caution-color);
        }
        &:hover {
          cursor: pointer;
        }
      }

    }
    .match-approval:last-child {
      border-bottom: none;
    }
  }
}
