@import "./utilities.scss";
@import "./pages/HomePage.scss";
@import "./components/Navbar.scss";
@import "./components/Search.scss";
@import "./components/CarInforTable.scss";
@import "./components/CarGallery.scss";
@import "./components/LessorProfile.scss";
@import "./pages/HomePage.scss";
@import "./pages/CarDetail.scss";
@import "./components/SlideFilter.scss";
@import "./components/SlideBanner.scss";
@import "./components/SearchResult.scss";
@import "./components/CarCard.scss";
@import "./components/Footer.scss";
@import "./pages/HomePage.scss";
@import "./components/SigninBox.scss";
@import "./pages/SigninPage.scss";
@import "./components/ContactFooter.scss";
@import "./components/SeoFooter.scss";

* {
  font-size: 16px;
  font-family: $primary-font;
  font-weight: 400;
}

body {
  display: block;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--header1-fs);
}
h2 {
  font-size: var(--header2-fs);
}
h3 {
  font-size: var(--header3-fs);
}
p {
  font-size: var(--paragraph1-fs);
  margin: 0;
  padding: 0;
}
i {
  font-size: var(--icon-fs);
}
label {
  font-size: var(--label-fs);
}
input {
  padding: 11px 15px;
}
