@import "./utilities.scss";
@import "./pages/HomePage.scss";
@import "./pages/ResetPasswordPage.scss";
@import "./pages/CarDetail.scss";
@import "./pages/SigninPage.scss";
@import "./pages/NoPage.scss";
@import "./pages/ProfilePage.scss";
@import "./components/Profile.scss";
@import "./components/Navbar.scss";
@import "./components/Search.scss";
@import "./components/CarInforTable.scss";
@import "./components/CarGallery.scss";
@import "./components/LessorProfile.scss";
@import "./components/SlideFilter.scss";
@import "./components/SlideBanner.scss";
@import "./components/SearchResult.scss";
@import "./pages/MyBookingPage.scss";
@import "./pages/PaymentPage.scss";
@import "./components/CarCard.scss";
@import "./components/Footer.scss";
@import "./components/SigninBox.scss";
@import "./components/ConfirmModal.scss";
@import "./components/ContactFooter.scss";
@import "./components/SeoFooter.scss";
@import "./pages/AddCarPage.scss";
@import "./components/AddCarBox.scss";
@import "./components/MyProfile.scss";
@import "./components/MyBooking.scss";
@import "./components/MyCars.scss";
@import "./components/PaymentHistory.scss";
@import "./components/UserApprovalMgmt.scss";
@import "./components/CarApprovalMgmt.scss";
@import "./components/MatchMgmt.scss";
@import "./components/ProfileStatusTab.scss";
@import "./components/ProfileSearchBar.scss";
@import "./components/AddReviewBox.scss";
@import "./components/CommentBox.scss";
@import "./pages/AddReviewPage.scss";
@import "./pages/LessorRegisterationPage.scss";
@import "./components/ModalCarRent.scss";
@import "./components/Notification.scss";
@import "./pages/PaymentPage.scss";
@import "./pages/ChatPage.scss";
@import "./components/Chat.scss";
@import "./components/MatchCar.scss";

* {
  font-size: 16px;
  font-family: $primary-font;
  font-weight: 400;
}

body {
  display: block;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--header1-fs);
}
h2 {
  font-size: var(--header2-fs);
}
h3 {
  font-size: var(--header3-fs);
}
p {
  font-size: var(--paragraph1-fs);
  margin: 0;
  padding: 0;
}
i {
  font-size: var(--icon-fs);
}
label {
  font-size: var(--label-fs);
}
input {
  padding: 11px 15px;
}
select {
  padding: 11px 15px;
}
