@import "./utilities.scss";
@import "./components/Navbar.scss";
@import "./components/Search.scss";
@import "./components/CarInforTable.scss";
@import "./components/CarGallery.scss";
@import "./components/LessorProfile.scss";
@import "./pages/HomePage.scss";
@import "./pages/CarDetail.scss";

* {
  font-size: 48px;
  font-family: $primary-font;
}

body {
  display: block;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
